xray_*/
xval_*/
Abhi/
alphafold/
original_*/
LH_Combined_Chothia/
full_decimals/
PrePAPA/
PostPAPA/
PreAF2/
PostAF2/
new_data_in_af2data/
SNNS/
single_csv/
cleanpdbstructures/
clean_unique_af2/
clean_LHChothia/
PostAF2/
PreAF2/
Everything/
new_test/
A/
B/
C/
D/
E/
af2_ranked0/
af2_models/
xvalGBR.py
temp.py
snns_run_and_compile_data.py
runabpackingangle.py
runGBRegmodel.py
rotatedata_and_graph.py
read_stats_csv.dat
post_processing.dat
postAF2list.dat
plotrepackrmsd.py
pipeline_enums.py
pdb2seq.py
nonred_filetransfer.py
makegraphs.py
makedir_tenth_ofotherdir.py
in13res.dat
in13.dat
compare_dir_files.py
change_files_to_uppercase.py
SNNS.md
3_fold_GBR.py
*.csv
*.arff
*.swp
*.model
*.log
*.pdb
*.tiff
*.txt
*.aux
*.out
grid_search_gbr.py
*.jpg
*.tex
*.pdf
test*
*test
*.pyc
